/* 1. Fonts */



@font-face {
  font-family: 'now';
  src: url('../fonts/now-bold-webfont.woff2') format('woff2'),
       url('../fonts/now-bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'now';
  src: url('../fonts/now-light-webfont.woff2') format('woff2'),
       url('../fonts/now-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;

}

@font-face {
  font-family: 'now';
  src: url('../fonts/now-medium-webfont.woff2') format('woff2'),
       url('../fonts/now-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'now';
  src: url('../fonts/now-regular-webfont.woff2') format('woff2'),
       url('../fonts/now-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'clearsans';
  src: url('../fonts/ClearSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 2. General  */

#body {
  padding: 0;
}

body { 
  font-family: 'clearsans';
  font-size: 17px;
  font-weight: 400;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: 'now';
  font-weight: 500;
}

h2 {     /* Page title */
  margin: 1.25em 0;
}

h3 {
  margin: 1.5em 0 0.5em;
}

h4 {
  margin: 1.5em 0 0.75em;
}

p {
  clear: both;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

div#content p a {
  border-bottom: 2px solid #e50b77;
  color: #000;
}
div#content p a:hover {
  background: #eee;
  color: black;
  text-decoration: none;
}

/* 3. Header & Footer */


.navbar-inverse, footer .container {
  background: #36985f; /* Old browsers */
  background: -moz-linear-gradient(left, #36985f 0%, #00a0c6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #36985f 0%,#00a0c6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #36985f 0%,#00a0c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36985f', endColorstr='#00a0c6',GradientType=1 ); /* IE6-9 */
  border: 0;
  color: white;
}

.navbar-inverse > .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.container > .navbar-header {
  flex: 1;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-family: 'now';
  font-size: 0.85em;
  font-weight: 400;
}

.navbar>.container .navbar-brand {
  background: url('../img/logo.svg');
  background-size: cover;
  height: 70px;
  text-indent: -9999em;
  width: 260px;
}

.navbar-fixed-top {
  position: relative;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
  }
  .navbar>.container .navbar-brand {
    height: 85px;
    width: 320px;
  }
  .navbar-inverse > .container {
   width: 95%;
  }
}


@media (min-width: 992px) {
  .navbar-inverse > .container {
   width: 95%;
  }
}
@media (min-width: 1200px) {
  .navbar>.container .navbar-brand {
    height: 90px;
    width: 340px;
  }
  .navbar-inverse > .container {
    /* display: flex;
    justify-content: space-between; */
   width: 95%;
  }
}

footer .logo-block {
  border-top: 2px solid #eee;
  padding: 2em 1em;
}
footer .container {
  padding: 1.5em 1.5em;
  width: 100%;
}

footer p {
  clear: none;
  float: left;
  font-size: 0.85em;
  margin: 1em 0;
  padding: 0;

}
footer p.pull-right {
  float: right;
  text-align: right;
}
footer p a {
  border-bottom: 1px solid white;
  color: white;
}
footer p a:hover {
  background: rgba(255,255,255,0.2);
  color: white;
}

/* 4. Content region */

.row {
  margin: 0 auto;
  max-width: 680px;
}

.imageinline {
  margin: 1em 0 1.25em;
}

.imageinline img, .imageinline p {
  
  width: 48%;
}
.imageinline p {
  clear: none;
  color: #555;
  float: right;
  font-family: now;
  font-size: 60%;
  font-weight: 600;
}



/* 5. Text page */

.mpese-search-nav {
  font-size: 70%;
  margin: 0;
}

div#content .mpese-search-nav a {
  border: 0;
  color: #007F9E;
}
.mpese-search-nav a:before {
}
.mpese-search-nav a:hover:before {
}

.mpese-item-title {
  font-family: clearsans;
  font-size: 24px;
  margin: 0.75em 0 0.25em;
}

.mpese-item-title + p {
  font-size: 0.8em;
  margin-bottom: 1.5em;
}

.mpese-item-title + p a {
  color: #007F9E;
}

.mpese-content-panel .row {
  max-width: initial;
}

#mpese-transcript {
  border-bottom: 2px dotted lightgrey;
  font-size: 85%;
  line-height: 1.3;
  margin-bottom: 1em;
  padding-bottom: 20px;
  position: relative;
}
/* #mpese-transcript:after {
  background: blue;
  top: 100%;
  content: 'hello';
  display: block;
  height: 20px;
  margin-top: -20px;
  position: absolute;
  width: 100%;
} */

.nav-tabs {
  font-size: 0.8em;
}

.nav-tabs > li > a {
  color: black;
  font-weight: 600;
  padding: 5px 7px;
}
.nav-tabs > li.active > a {
  color: black;
  font-weight: 600;
}

@media only screen and (min-width: 1024px) {
.mpese-text-rm {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1024px){
.mpese-text-lm {
    margin-left: 50px;
}
}
@media only screen and (min-width: 1024px) {
.mpese-add-lm {
    margin-left: -50px;
  }
}




/* 6. Homepage */

.alert-info {
  display: none; /* For theming purposes */
}

.home .navbar-inverse:after {
  background: url('../img/home.jpg');
  background-size: cover;
  height: 250px;
  position: absolute;
  width: 100%;
  z-index: -10;
}

.home .row {
  max-width: 780px;
  position: relative;
  z-index: 10000;
}

#search-box {
  background: rgba(255,255,255,1);
  border-radius: 15px;
  padding: 2em 1em;
}

@media (min-width: 768px) {
  #search-box {
    margin: 0 3em;
    padding: 2em 4em;
  }
}

#search-box p {
  font-size: 0.8em;
  margin-top: 1em;
}

/*#search-box:before {*/
  /*content: 'Search';*/
  /*display: block;*/
  /*font-family: now;*/
  /*font-size: 1.3em;*/
  /*font-weight: 500;*/
  /*margin: -10px auto 15px;*/
  /*text-align: center;*/
/*}*/

.input-group {
  background: #299b80; /* Old browsers */
  background: -moz-linear-gradient(left, #299b80 0%, #189da3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #299b80 0%,#189da3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #299b80 0%,#189da3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299b80', endColorstr='#189da3',GradientType=1 ); /* IE6-9 */
  /* background: #01aad4; */
  border-radius: 30px;
  padding: 4px;
}

.input-group .form-control {
  border-radius: 30px; 
  border-width: 0;
}

.input-group-lg > .input-group-btn > .btn {
  background: transparent;
  border-radius: 30px;
  padding: 0 15px;
  transition: 0.2s all ease-in-out;
}

.glyphicon-search {
  background: url('../img/magnifying-glass.svg');
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 25px;
  text-indent: -9999em;
  transition: 0.2s all ease-in-out;
  top: -2px;
  width: 25px;
}
.input-group-lg > .input-group-btn > .btn:hover .glyphicon {
  filter: brightness(0.7) sepia(1) hue-rotate(170deg) saturate(6);
  transition: 0.2s all ease-in-out;
}

h1.mpese-home-heading {
  margin-top: 77px;
  position: relative;
  font-size: 1.1em;
  text-align: center;
}

h1.mpese-home-heading:before {
  background: white;
  content: '';
  height: 40px;
  margin-left: -14px;
  left: 50%;
  position: absolute;
  top: -42px;
  transform: rotate(45deg);
  width: 40px;
}

.result-entry { 
  font-family: now;
  font-weight: 200;
  margin: 10px 0;
  padding: 0 10px;
}
.result-entry b, .result-entry strong {
  font-weight: 400;
}   

.results-total {
  font-family: now;
  font-size: 0.9em;
  font-weight: 500;
  padding-top: 1em;
}

.pagination {
  border-radius: 0;
  padding: 1em 0;
  position: relative;
}
.pagination:before {
  background: #299b80; /* Old browsers */
  background: -moz-linear-gradient(left, #299b80 0%, #189da3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #299b80 0%,#189da3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #299b80 0%,#189da3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299b80', endColorstr='#189da3',GradientType=1 ); /* IE6-9 */
  content: '';
  height: 2px;
  margin-left: -125px;
  position: absolute;
  top: -2px;
  width: 250px;
}
.pagination:after {
  background: #299b80; /* Old browsers */
  background: -moz-linear-gradient(left, #299b80 0%, #189da3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #299b80 0%,#189da3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #299b80 0%,#189da3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299b80', endColorstr='#189da3',GradientType=1 ); /* IE6-9 */
  content: '';
  height: 2px;
  left: 50%;
  margin-left: -125px;
  position: absolute;
  bottom: -2px;
  width: 250px;
}

.pagination > li > a {
  border: 0;
  color: black;
  font-family: now;
  font-size: 0.8em;
  /* font-weight: 600; */
  margin: 0 2px;
  padding: 0 3px;
}

.pagination > a:hover, .pagination > .active > a:hover {
  backface-visibility: lightgrey;
}

.pagination > .active > a, .pagination > .active > a:hover {
  background: -moz-linear-gradient(left, #299b80 0%, #189da3 100%); /* FF3.6-15 */
  background: #189da3;
}

.list-group + #paginaton {
  margin-bottom: 2em;
}

#search-results .list-group-item {
  border: 0;
  border-bottom: 2px dotted #ddd;
  border-radius: 0;
  margin-top: 1px;
  padding: 10px 0;
}

#search-results .list-group-item-heading {
  /* font-family: 'clearsans'; */
  font-size: 120%;
  /* font-weight: 600; */
  line-height: 1.3;
  margin-bottom: 3px;
}

#search-results .result-entry-snippet {
  margin: 0;
}

.list-group-item-text {
  font-size: 0.9em;
}

/* 2018-09-11 */

.col-lg-12 {

  float: none;

margin: 0 auto;

max-width: 680px;

}

.mpese-content-panel .col-lg-12 {

max-width: initial;

}

.col-md-6 {

padding: 0;

}

.col-md-12 {

float: none;

margin: 0 auto;

max-width: 750px;

}

.home .col-lg-12 {

max-width: 780px;

position: relative;

z-index: 10000;

}

.pagination::before {

left: 50%;

}

.home .navbar-inverse:after {

height: 240px;

}

@media (min-width: 768px) {

#search-box {

margin: 0 4em;

padding: 2em 3em 1.5em;

}

}

.results-total {

padding-top: 0.5em;

}

h2 { /* Page title */

margin: 1.25em 0 0.5em;

}

div#content p a, div#content li a {

border-bottom: 2px solid #e50b77;

color: #000;

}

div#content p a:hover, div#content li a:hover {

background: #eee;

color: black;

text-decoration: none;

}

div#content .pagination a, div#content .pagination a:hover {

border: 0;

}

footer {

margin-top: 210px;

position: relative;

}

footer::before {

background: url('../img/swirl.svg');

background-size: cover;

content: '';

display: block;

height: 180px;

left: 50%;

margin: -200px 0 0 -175px;

position: absolute;

width: 350px;

}

.result-entry h2 {
  font-size: 1.2em;
}