/* 1. Fonts */



@font-face {
  font-family: 'now';
  src: url('../fonts/now-bold-webfont.woff2') format('woff2'),
       url('../fonts/now-bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'now';
  src: url('../fonts/now-light-webfont.woff2') format('woff2'),
       url('../fonts/now-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;

}

@font-face {
  font-family: 'now';
  src: url('../fonts/now-medium-webfont.woff2') format('woff2'),
       url('../fonts/now-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'now';
  src: url('../fonts/now-regular-webfont.woff2') format('woff2'),
       url('../fonts/now-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'clearsans';
  src: url('../fonts/ClearSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 2. General  */

#body {
  padding: 0;
}

body { 
  font-family: 'clearsans';
  font-size: 17px;
  font-weight: 400;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: 'now';
  font-weight: 500;
}

h2 {     /* Page title */
  margin: 1.25em 0 0.5em;
}

h3 {
  margin: 1.5em 0 0.5em;
}

h4 {
  margin: 1.5em 0 0.75em;
}

p {
  clear: both;
}

ul, ol {
  padding-left: 20px;
}

#content li {
  line-height: 1.5;
  margin: 15px 0;
  padding-left: 0;
  text-indent: 0;
}

#content .pagination li, #content .nav-tabs li {
  line-height: inherit;
  margin: 0;
  padding-left: 0;
  text-indent: 0;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

div#content p a, div#content li a {
  border-bottom: 1px dotted #007F9E;
  color: #000;
  transition: 0.2s ease-in-out all;
}
div#content p a:hover, div#content li a:hover {
  background: rgb(243, 243, 243);
  color: black;
  text-decoration: none;
  transition: 0.2s ease-in-out all;
}

#content .nav-tabs li a {
  border: 0;
}

div#content .pagination a, div#content .pagination a:hover {
  border: 0;
}

.main-row {
  padding-top: 10px;
}

/* Images */

.mpese-home-img-caption {
  clear: none;
  float: left;
  margin: 1em 0 1.25em;
  width: 48%;
}
p.mpese-home-img-caption {
  clear: none;
  color: #555;
  float: right;
  font-family: now;
  font-size: 60%;
  font-weight: 600;
}


.imageinline p {

}


/* 3. Header & Footer */

.navbar-inverse, footer .container {
  background: #36985f; /* Old browsers */
  background: -moz-linear-gradient(left, #36985f 0%, #00a0c6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #36985f 0%,#00a0c6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #36985f 0%,#00a0c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36985f', endColorstr='#00a0c6',GradientType=1 ); /* IE6-9 */
  border: 0;
  color: white;
}

.navbar-inverse > .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

@media (min-width: 768px) {
  .navbar-inverse > .container {
    display: flex;
  }
}

.container > .navbar-header {
  flex: 1;
  padding: 10px 0;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-family: 'now';
  font-size: 0.85em;
  font-weight: 400;
}

.navbar>.container .navbar-brand {
  background: url('../img/logo.svg');
  background-size: cover;
  height: 70px;
  text-indent: -9999em;
  width: 260px;
}

.navbar-fixed-top {
  position: relative;
}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #ffffff;
  color: #000;
}

.dropdown-menu {
  border: 1px solid #089fbd;
  border-top: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
  margin-left: -1px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color:white;
}


@media (min-width: 768px) {
  .navbar-nav {
    float: none;
  }

  .container > .navbar-header {
    padding: 0;
  }
  .navbar>.container .navbar-brand {
    height: 85px;
    width: 320px;
  }
  .navbar-inverse > .container {
   width: 95%;
  }
}


@media (min-width: 992px) {
  .navbar-inverse > .container {
   width: 95%;
  }
}
@media (min-width: 1200px) {
  .navbar>.container .navbar-brand {
    height: 90px;
    width: 340px;
  }
  .navbar-inverse > .container {
    /* display: flex;
    justify-content: space-between; */
   width: 95%;
  }
  .navbar-nav > li {
    margin-left: 30px;
  }
}

footer {
  margin-top: 220px;
  position: relative;
}

footer::before {
  background: url('../img/swirl.svg');
  background-size: cover;
  content: '';
  display: block;
  height: 180px;
  left: 50%;
  margin: -195px 0 0 -175px;
  max-width: 100%;
  position: absolute;
  width: 350px;
}

footer .logo-block {
  border-top: 2px solid #eee;
  padding: 2em 1em;
}
footer .container {
  padding: 1.5em 1.5em;
  width: 100%;
}

footer p {
  clear: none;
  font-size: 0.85em;
  margin: 1em auto;
  padding: 0;
  text-align: center;
}
footer p.pull-right {
  float: right;
  text-align: right;
}
footer p a {
  border-bottom: 1px solid white;
  color: white;
}
footer p a:hover {
  background: rgba(255,255,255,0.2);
  color: white;
}

/* 4. Content region */

.row {
  margin: 0 auto;
}

.col-lg-12 {
  float: none;
  margin: 0 auto;
  max-width: 680px;
}

.mpese-content-panel {

}

.mpese-content-panel .col-lg-12 {
  max-width: initial;
}

.col-md-6 {
  padding: 0;
}

.col-md-12 {
  float: none;
  margin: 0 auto;
  max-width: 750px;
}

.home .col-lg-12 {
  max-width: 780px;
  position: relative;
  z-index: 10000;
}

@media (min-width: 1200px) {
.container {
    max-width: 1500px;
    width: auto;
  }
}



/* 5. Text page */

.mpese-search-nav {
  font-size: 70%;
  margin: 0;
  margin-left: 20px;
  position: relative;
}
.mpese-search-nav:before {
  background: url('../img/rarr.svg');
  background-size: cover;
  content: '';
  display: block;
  height: 8px;
  left: -20px;
  position: absolute;
  top: 7px;
  width: 14px;
}

div#content .mpese-search-nav a {
  border: 0;
  color: #007F9E;
}
.mpese-search-nav a:before {
}
.mpese-search-nav a:hover:before {
}

.mpese-item-title {
  /* font-family: clearsans; */
  font-size: 24px;
  line-height: 1.5;
  margin: 0.75em 0 0.25em;
  max-width: 850px;
}

.mpese-item-title + p {
  font-size: 0.8em;
  margin-bottom: 1.5em;
}

.mpese-item-title + p a {
  color: #007F9E;
}

h2.mpese-item-ms {
  font-size: 0.8em;
  font-weight: normal;
  margin-bottom: 10px;
}

h2.mpese-item-ms a {
  border-bottom: 1px dotted #007F9E;
  color: #000;
  transition: 0.2s ease-in-out all;
}
h2.mpese-item-ms a {
  background: rgb(243, 243, 243);
}

#mpese-transcript {
  -moz-box-shadow: inset 0 0 10px rgba(1,158,197,0.3);
  -webkit-box-shadow: inset 0 0 10px rgba(1,158,197,0.3);
  box-shadow: inset 0px -3px 0px rgba(1,158,197,0.3);
  font-size: 85%;
  line-height: 1.3;
  margin-bottom: 1em;
  padding: 0 0 20px;
  position: relative;
}
/* #mpese-transcript:after {
  background: blue;
  top: 100%;
  content: 'hello';
  display: block;
  height: 20px;
  margin-top: -20px;
  position: absolute;
  width: 100%;
} */

.nav-tabs {
  border-bottom: 2px solid #009fc5;
  font-size: 0.8em;
}

.nav-tabs > li > a {
  border: 0;
  color: black;
  font-weight: 600;
  letter-spacing: 0.3px;
  padding: 5px 7px;
}
#content  .nav-tabs > li.active > a {
  background: #009fc5;
  border: 0;
  color: white;
  font-weight: 600;
}

#mpese-text-body {
  
}

@media only screen and (min-width: 1024px) {
.mpese-text-rm {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1024px){
.mpese-text-lm {
    margin-left: 50px;
}
}
@media only screen and (min-width: 1024px) {
#mpese-text-body {
  margin: 0 60px;
}
.mpese-add-lm {
    margin-left: -50px;
  }
}




/* 6. Homepage */

.alert-info {
  display: none; /* For theming purposes */
}

.home .navbar-inverse:after {
  background: url('../img/home.jpg');
  background-size: cover;
  height: 240px;
  position: absolute;
  width: 100vw;
  z-index: -10;
}

#search-box {
}

@media (min-width: 768px) {
  #search-box {
    margin: 0 4em;
    padding: 2em 3em 1.5em;
  }
}

#search-results {
  margin-top: 30px;
  position: relative;
}

@media (min-width: 768px) {
  #search-box {
    margin: 0 3em;
    padding: 2em 4em;
  }
}

#search-box p {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,ffffff+11 */
background: rgb(221,221,221); /* Old browsers */
background: -moz-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 11%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(255,255,255,1) 11%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(255,255,255,1) 11%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  border-radius: 0 0 30px 30px;
  font-size: 0.7em;
  line-height: 1.9;
  margin-top: 1em;
  /* background: #ffffff; */
  max-width: 60%;
  margin: 0 auto;
  padding: 12px 15px 12px;
  position: relative;
  font-weight: 500;
  font-family: now;
}



.input-group {
  background: #299b80; /* Old browsers */
  background: -moz-linear-gradient(left, #299b80 0%, #189da3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #299b80 0%,#189da3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #299b80 0%,#189da3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299b80', endColorstr='#189da3',GradientType=1 ); /* IE6-9 */
  /* background: #01aad4; */
  border-radius: 30px;
  padding: 5px;
}

.input-group .form-control {
  border-radius: 30px; 
  border-width: 0;
}

.input-group-lg > .input-group-btn > .btn {
  background: transparent;
  border-radius: 30px;
  padding: 0 15px;
  transition: 0.2s all ease-in-out;
}

.glyphicon-search {
  background: url('../img/magnifying-glass.svg');
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 25px;
  text-indent: -9999em;
  transition: 0.2s all ease-in-out;
  top: -2px;
  width: 25px;
}
.input-group-lg > .input-group-btn > .btn:hover .glyphicon {
  filter: brightness(0.7) sepia(1) hue-rotate(170deg) saturate(6);
  transition: 0.2s all ease-in-out;
}

h1 {
  font-size: 1.7em;
  margin-top: 0;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.15em;
}

h1.mpese-home-heading {
  margin-top: 100px;
  position: relative;
  font-size: 1.1em;
  position: relative;
  text-align: center;
}
@media (min-width: 495px) {
  h1.mpese-home-heading {
    margin-top: 120px;
  }
}
@media (min-width: 768px) {
  h1.mpese-home-heading {
    margin-top: 60px;
  }
}
@media (min-width: 992px) {
  h1.mpese-home-heading {
    margin-top: 55px;
  }
}
@media (min-width: 1200px) {
  h1.mpese-home-heading {
    margin-top: 55px;
  }
}

/*h1.mpese-home-heading:before {*/
  /*background: white;*/
  /*content: '';*/
  /*height: 40px;*/
  /*margin-left: -14px;*/
  /*left: 50%;*/
  /*position: absolute;*/
  /*top: -65px;*/
  /*transform: rotate(45deg);*/
  /*width: 40px;*/
/*}*/

.mpese-home-description {
  margin: 0 auto;
  padding: 0 15px;
}


.result-entry { 
  font-family: now;
  font-weight: 200;
  margin: 10px 0;
  padding: 0 10px;
}
.result-entry b, .result-entry strong {
  font-weight: 400;
}   

.results-total {
  font-family: now;
  font-size: 0.9em;
  font-weight: 500;
  position: relative;
  padding-top: 0.5em;
}

.results-total:after {
  background: #299b80; /* Old browsers */
  background: -moz-linear-gradient(left, #299b80 0%, #189da3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #299b80 0%,#189da3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #299b80 0%,#189da3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299b80', endColorstr='#189da3',GradientType=1 ); /* IE6-9 */
  background: #eee;
  content: '';
  height: 3px;
  left: 50%;
  margin-left: -125px;
  position: absolute;
  bottom: -22px;
  width: 250px;
}

.pagination {
  border-radius: 0;
  padding: 1.5em 0 0;
  position: relative;
}

.pagination > li > a {
  border: 0;
  color: black;
  font-family: now;
  font-size: 0.8em;
  /* font-weight: 600; */
  margin: 0 2px;
  padding: 1px 6px;
}

.pagination > a:hover, .pagination > .active > a:hover {
  backface-visibility: lightgrey;
}

div#content .pagination > .active > a, div#content .pagination > .active > a:hover {
  background: -moz-linear-gradient(left, #299b80 0%, #189da3 100%); /* FF3.6-15 */
  background: #009fc6;
  color: white;
}

div#content .pagination > .disabled > a:hover {
  background: transparent;
}


.list-group + #paginaton {
  margin-bottom: 2em;
}

#search-results .list-group-item {
  border: 0;
  border-bottom: 3px solid #eee;
  border-radius: 0;
  margin-top: 1px;
  padding: 10px 0;
}

#search-results .list-group-item-heading {
  /* font-family: 'clearsans'; */
  font-size: 120%;
  /* font-weight: 600; */
  line-height: 1.3;
  margin-bottom: 3px;
}

#search-results .result-entry-snippet {
  margin: 0;
}

.list-group-item-text {
  font-size: 0.9em;
}




/* 
.navbar>.container .navbar-brand {
  height: 53px;
  width: 260px;
}

@media (min-width: 768px) {
  .navbar>.container .navbar-brand {
    height: 62px;
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .navbar>.container .navbar-brand {
    height: 74px;
    width: 344px;
  }
} */

/* Mobile menu */

.navbar-toggle {
  margin-top: 20px;
}

.navbar-inverse .navbar-toggle {
  border: transparent;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
  border: 0;
}

/* panel-primary */

.panel-primary {
  border-color: #333;
}

.panel-primary > .panel-heading {
  background: #333;
  border-color: #333;
}

.panel-body {
  padding: 10px;
}

.btn-success {
  background-color: #00a0c6;
  border:0;
}

.btn-success:hover {
}

div#content p a.btn-success {
  border: 0;
  border-radius: 30px;
  color: white;
  margin: 5px 0;
}

div#content p a.btn-success:hover {
  background-color: #36985f;
}


.result-entry h2 {
  font-size: 1.2em;
}

.mpese-content-panel h3 {
  font-size: 1.0em;
}


