#body {
    padding-top: 40px;
}

.main-row {
    padding-top: 20px;
}

.logo {
    margin-right: 3em;
}

.jumbotron {
    padding-top: 5em;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.mpese-home-img {
    margin-top: 20px;
}

.mpese-home-img-caption {
    padding-top: 0.5em;
    font-size: 0.8em;
}

.logo-block {
    text-align: center;
}

.logo-block img {
    margin: 10px;
}


footer p {
    margin-top: 10px
}

.mpese-alert {
    text-align: center;
    font-weight: bold;
}

.mpese-breadcrumb {
    padding-top: 40px;
}

.mpese-text-count {
    text-align: center;
}

.mpese-pb {
    text-align: center;
    font-weight: bold;
}

.unclear {
    text-decoration: dashed;
}

img.mpese-home-img-caption {
    max-width: 100%;
}

/*#search-box {*/
    /*padding-top: 40px;*/
/*}*/

.result-entry-snippet {
    margin: 5px 0 5px 0;
    font-style: italic;
}

.results-total {
    margin: 0;
    padding: 0;
    font-size: larger;
}

.mpese-content-panel {
    margin-top: 20px;
}

span.hi {
    background-color: yellow;
}

div#openseadragon {
    height: 600px;
}

.mpese-add-lm:before  {
    content: "[";
}

.mpese-add-lm:after  {
    content: "]";
}

.mpese-add-rm:before {
    content: "[";
}


.mpese-add-rm:after {
    content: "]";
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
    #mpese-image-viewer {
        display: none;
    }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
        #mpese-image-viewer {
        display: none;
    }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
    #mpese-image-viewer {
        display: none;
    }
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
    #mpese-image-viewer {
        display: block;
    }

    #mpese-transcript, #mss-wrapper {
        max-height: 80vh;
        overflow-y: scroll;
    }

    .mpese-add-lm {
        float: left;
        clear: both;
        max-width: 100px;
        font-size: smaller;
        margin-left: -100px;
        text-align: left;
    }

    .mpese-add-rm {
        float: right;
        clear: both;
        max-width: 100px;
        font-size: smaller;
        margin-right: -100px;
        text-align: right;
    }

    /* text has left marginalia, make space */
    .mpese-text-lm {
        margin-left: 120px;
    }

    /* text has right marginalia, make space */
    .mpese-text-rm {
        margin-right: 120px;
    }

    /* hide text noting the location of the marginalia */
    .mpese-lm-note, .mpese-rm-note {
        display: none;
    }

    .mpese-add-lm:before  {
        content: "";
    }

    .mpese-add-lm:after  {
        content: "";
    }

    .mpese-add-rm:before {
        content: "";
    }

    .mpese-add-rm:after {
        content: "";
    }
}

span.mpese-author-list {
    display: inline;
}

ul.mpese-witness-list {
    list-style: none;
}

.mss-item-locus {
    font-weight: bold;
    font-size: 1.1em;
}

.mpese-search-nav {
    margin-top: 25px;
}

.mpese-item-title {
    font-size: 18px;
}

#mpese-details-panel {
    display: none;
}

#mpese-map-panel {
    display: none;
}
