#body {
    padding-top: 40px;
}

.logo {
    margin-right: 3em;
}

.jumbotron {
    padding-top: 5em;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.mpese-home-img {
    margin-top: 20px;
}

.mpese-home-img-caption {
    padding-top: 0.5em;
    font-size: 0.8em;
}

.logo-block {
    text-align: center;
}

.logo-block img {
    margin: 10px;
}

p {
    text-align: justify;
}

footer p {
    margin-top: 10px
}

.mpese-alert {
    text-align: center;
    font-weight: bold;
}

.mpese-breadcrumb {
    padding-top: 40px;
}

.mpese-text-count {
    text-align: center;
}

.mpese-pb {
    text-align: center;
    font-weight: bold;
}

.unclear {
    text-decoration: dashed;
}

img.mpese-home-img-caption {
    max-width: 100%;
}

#search-box {
    padding-top: 40px;
}

.result-entry-snippet {
    margin: 5px 0 5px 0;
    font-style: italic;
}

.results-total {
    margin: 0;
    padding: 0;
    font-size: larger;
}

.mpese-content-panel {
    margin-top: 20px;
}

span.hi {
    background-color: yellow;
}

div#openseadragon {
    height: 600px;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
    #mpese-image-viewer {
        display: none;
    }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
        #mpese-image-viewer {
        display: none;
    }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
    #mpese-image-viewer {
        display: none;
    }
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
    #mpese-image-viewer {
        display: block;
    }

    #mpese-transcript {
        min-height: 300px;
        max-height: 600px;
        overflow-y: scroll;
    }
}

span.mpese-author-list {
    display: inline;
}

ul.mpese-witness-list {
    list-style: none;
}

.mss-item-locus {
    font-weight: bold;
    font-size: 1.1em;
}

.mpese-search-nav {
    margin-top: 25px;
}