<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head prefix="dc: http://purl.org/dc/terms/#">
        <title data-template="config:page-title"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta data-template="config:app-meta" />

        <!-- Bootstrap CSS -->
        <link href="./resources/css/bootstrap.min.css" rel="stylesheet" />
        <link href="./resources/css/style.css" rel="stylesheet" />
        <link href="./resources/css/ie10-viewport-bug-workaround.css" />
        <link href="./resources/css/mpese.css" rel="stylesheet" />

    </head>
    <body id="body" class="home">
        <!-- navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=".">
                        <span data-template="config:app-abbrev">Abbrev</span>
                        <span class="hidden-xs hidden-sm hidden-md">: <span data-template="config:app-title">App Title</span></span></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="./introduction.html">Introduction</a></li>
                    <li class="dropdown">
                        <a href="./" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">How to use <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="./scope.html">Scope of coverage</a></li>
                        <li><a href="./conventions.html">Transcription conventions</a></li>
                    </ul></li>
                    <li><a href="./teaching.html">Teaching</a></li>
                <li><a href="./about.html">About</a></li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

        <!-- project abstract -->
        <div id="content" class="container"></div>
        <footer>
            <div class="container">
                <div class="logo-block">
                    <img class="logo" src="./resources/img/logo-AHRC.jpg" height="50" alt="AHRC" />
                    <img class="logo" src="./resources/img/logo-birmingham.svg" height="50" alt="University of Birmingham" />
                    <img class="logo" src="./resources/img/logo-bristol.svg" height="50" alt="University of Bristol" />
                    <img class="logo" src="./resources/img/logo-ha.svg" height="50" alt="Historical Association" />
                    <img class="logo" src="./resources/img/logo-bl.svg" height="50" alt="British Library" />
                </div>
                <p><span data-template="app:copyright"/> University of Birmingham and University of Bristol. See <a href="./copyright.html">copyright and licence details</a>.</p>
                <p class="pull-right"><a href="./dashboard/">Dashboard</a>; Version: <span data-template="app:version"></span> (deployed,
                    <span data-template="app:deployed"></span>)</p>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript  -->
        <script src="./resources/js/jquery-3.2.1.min.js"></script>
        <script src="./resources/js/bootstrap.min.js"></script>
        <script src="./resources/js/ie10-viewport-bug-workaround.js"></script>
        <script src="./resources/js/mpese-feedback.js"></script>
    </body>
</html>
