<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head prefix="dc: http://purl.org/dc/terms/#">

        <script data-template="config:analytics"></script>

        <title data-template="config:page-title"></title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta data-template="config:app-meta" />

        <link data-template="config:bootstrap-css" data-template-path="./"/>

        <script data-template="config:bootstrap-js" data-template-path="./"></script>
    </head>
    <body id="body" class="home">
        <!-- navigation -->
        <nav data-template="config:navigation" data-template-path="./"></nav>
         <div class="searchbox-container">
            <div id="search-box">
                <form action="../.." method="get" data-template="mpese-search:form"/>
            </div>
         </div>
        <div id="content" class="container"></div>
        <footer>
            <div data-template="config:logo-block" data-template-path="./"></div>
            <div data-template="config:copyright" data-template-path="./"></div>
        </footer>
    </body>
</html>
