<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta data-template="config:app-meta" />

        <!-- Bootstrap CSS -->
        <link href="resources/css/bootstrap.min.css" rel="stylesheet" />
        <link href="resources/css/style.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css"
            rel="stylesheet" />

    </head>
    <body id="body">
        <!-- navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <span data-template="config:app-abbrev">Abbrev</span>: <span
                            class="hidden-xs"><span data-template="config:app-title">App
                                Title</span></span>
                    </a>
                </div>
            </div>
        </nav>
        <!-- project abstract -->
        <div class="jumbotron">
            <div class="container">
                <div data-template="app:abstract"></div>
            </div>
        </div>
        <div id="content" class="container"></div>
        <footer>
            <div class="container">
                <div class="logo-block">
                    <img class="logo" src="resources/img/logo-AHRC.jpg" height="50" alt="AHRC" />
                    <img class="logo" src="resources/img/logo-birmingham.svg" height="50"
                        alt="University of Birmingham" />
                    <img class="logo" src="resources/img/logo-bristol.svg" height="50"
                        alt="University of Bristol" />
                    <img class="logo" src="resources/img/logo-ha.svg" height="50"
                        alt="Historical Association" />
                    <img class="logo" src="resources/img/logo-bl.svg" height="50"
                        alt="British Library" />
                </div>
                <p>&#169; 2017 University of Birmingham, University of Bristol.</p>
                <p class="pull-right">Version: <span data-template="app:version"></span> (deployed,
                        <span data-template="app:deployed"></span>)</p>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="resources/js/jquery-3.2.1.min.js"></script>
        <script src="resources/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
