<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head prefix="dc: http://purl.org/dc/terms/#">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=@ANALYTICS_TOKEN@"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '@ANALYTICS_TOKEN@');
        </script>

        <title data-template="config:page-title"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta data-template="config:app-meta" />

        <!-- Bootstrap CSS -->
        <link href="resources/css/bootstrap.min.css" rel="stylesheet" />
        <link href="resources/css/style.css" rel="stylesheet" />
        <link href="resources/css/ie10-viewport-bug-workaround.css" />

    </head>
    <body id="body">
        <!-- navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href=".">
                        <span data-template="config:app-abbrev">Abbrev</span>: <span
                            class="hidden-xs"><span data-template="config:app-title">App
                                Title</span></span>
                    </a>
                </div>
            </div>
        </nav>
        <!-- project abstract -->
        <div class="jumbotron">
            <div class="container">
                <div data-template="app:abstract"></div>
            </div>
        </div>
        <div id="content" class="container"></div>
        <footer>
            <div class="container">
                <div class="logo-block">
                    <img class="logo" src="resources/img/logo-AHRC.jpg" height="50" alt="AHRC" />
                    <img class="logo" src="resources/img/logo-birmingham.svg" height="50"
                        alt="University of Birmingham" />
                    <img class="logo" src="resources/img/logo-bristol.svg" height="50"
                        alt="University of Bristol" />
                    <img class="logo" src="resources/img/logo-ha.svg" height="50"
                        alt="Historical Association" />
                    <img class="logo" src="resources/img/logo-bl.svg" height="50"
                        alt="British Library" />
                </div>
                <div class="container">
                    <p><span data-template="app:copyright"/> See <a href="./copyright.html">copyright and licence details</a> and
                        <a href="./cookies.html">cookie and privacy policy</a>.</p>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="resources/js/jquery-3.2.1.min.js"></script>
        <script src="resources/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="resources/js/ie10-viewport-bug-workaround.js"></script>
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-125038150-2"></script>
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=@ANALYTICS_TOKEN@"></script>
        <script src="resources/js/analytics.js"></script>
    </body>
</html>
