.logo {
	margin-right: 3em;
}

.jumbotron {
	padding-top: 5em;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.mpese-home-img {
	margin-top: 20px;
}

.mpese-home-img-caption {
	padding-top: 0.5em;
	font-size: 0.8em;
}

.logo-block {
	margin: 10px 0 10px 0;
}